body{
    margin: 0;
    font-family: 'Tiny5', sans-serif;
    color: white;
    background-color: black;
}
section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 400px;
    padding: 500px;
}

.topPart{
    display: flex;
    align-items: flex-start;
    font-size: 1.25em;
    margin-left: 5%;
    margin-top: 1%;
}
.headings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.25em;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}
.listingMain{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}
.subHeadings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5em;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    text-decoration: underline;
}
.listingProjects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}
.flex-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container {
    display: flex;
    position: relative;
    flex: 1 1 calc(30% - 0px); /* Adjust for gap */
    margin-bottom: 30px;
    overflow: hidden; /* Ensures that elements stay within the container */
}
.image {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease; /* Smooth transition for hover effect */
}
.container:hover .image {
    transform: scale(1.1); /* Scale image on hover */
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    transition: background-color 0.5s ease, transform 0.5s ease; 
}
.container:hover .text {
    background-color: rgba(0, 0, 0, 0.8); /* Darker background on hover */
    transform: translate(-50%, -50%) scale(1.1); /* Scale text on hover */
}
.navigation a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    transition: color 0.3s ease;
}
.navigation a:hover {
    color: gray;
}