.context{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}
.svg-background {
    width: 100vw;
    height: 100vh;
    background-image: url('layered-peaks-haikei.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
