html, body{
    height: 100%;
    width: 100%;
    margin:0%; /* remove default margin */
    padding:0%;
}
.context{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}
.svg-background {
    position:relative;
    width: 100vw;
    height: 100vh;
    background-image: url('layered-peaks-haikei.svg');
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}
h1{
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 5em;
    color: #fff;
    text-align: left;
    margin-left: 5%;
}
.navigation{
    font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}